<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- 重定向尾部斜杠的 URL -->
                <rule name="Remove trailing slash" stopProcessing="true">
                    <match url="(.+)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Redirect" url="/{R:1}" redirectType="Permanent" />
                </rule>

                <!-- 将特定目录及其子目录和文件返回404 -->
                <rule name="Block access to specific directories" stopProcessing="true">
                    <match url="^(App|vendor|System|Writable)(/.*)?$" />
                    <action type="AbortRequest" />
                </rule>

                <!-- 将所有其他请求发送到 index.php -->
                <rule name="Rewrite to index.php" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>