* {
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #606676;
}

.item img {
    height: 200px;
}

main {
    padding-top: 80px;
}

#list {
    padding-bottom: 50px;
}

.mdui-card {
    background-color: rgba(0, 0, 0, 0.5);
}

.status {
    position: absolute;
    margin: 10px;
    z-index: 1;
}

.people {
    color: #ffff;
    position: absolute;
    margin: 10px;
    right: 0;
    z-index: 1;
}

#searchContainer {
    bottom: 0px;
    width: auto;
    display: grid;
    margin: 10px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(2.5px) !important;
    position: fixed;
    z-index: 1;
}

canvas {
    position: fixed;
    display: block;
}

.token-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
}

.token-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.token-actions {
    display: flex;
    align-items: center;
}

.token-info {
    margin-right: 15px;
    display: inline-flex;
    align-items: center;
}

.token-info .mdui-icon {
    font-size: 18px;
    margin-right: 5px;
}

.extra-data pre {
    background: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
    max-height: 200px;
    white-space: normal;
}


#footer {
    background-color: #222;
    color: #bbb;
    font-size: 14px;
    text-align: center;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 0.8;
}

#footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

#footer a:hover {
    color: #ffcc00;
}

#footer p {
    margin: 5px 0;
    width: 100%;
}