body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #fff;
}

/* 顶部导航栏样式 */
#navbar {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

#navbar h1 {
    margin: 0;
    font-size: 20px;
    color: #fff;
}

/* 通用容器样式 */
#container {
    display: flex;
    height: calc(100vh - 111px);
    /* 减去导航栏高度 */
}

#video-container {
    overflow: hidden;
    flex: 1;
    position: relative;
}

#videoElement {
    width: 100%;
}

#error-msg {
    width: 100%;
    top: 0%;
    position: absolute;
}

.error-msg {
    text-align: center;
    padding: 20px;
}

#liveInfo {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
}

#danmaku-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#danmaku-container p {
    margin: 5px 0;
    background-color: rgba(255, 255, 255, 0.2);
    word-wrap: break-word;
}

.danmaku {
    color: #ffcc00;
    font-size: 14px;
    line-height: 1.5;
}

/* 弹幕元素样式 */
.danmaku-item {
    position: absolute;
    white-space: nowrap;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    pointer-events: none;
    z-index: 10;
}

.danmaku-avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}

.danmaku-text {
    vertical-align: middle;
}

#footer {
    position: fixed;
    bottom: 0px;
    width: auto;
    text-align: center;
    color: #bbb;
    font-size: 12px;
}

/* 手机端竖屏 */
@media (max-width: 768px) {
    #container {
        flex-direction: column;
    }

    #video-container {
        flex: 1;
    }

    #danmaku-container {
        flex-grow: 1;
    }
}

/* 电脑端横屏 */
@media (min-width: 769px) {
    #container {
        flex-direction: row;
    }

    #video-container {
        width: 70%;
    }

    #videoElement {
        height: calc(100vh - 110px);
    }

    #danmaku-container {
        width: 20%;
        height: 100%;
        overflow-y: auto;
        margin-left: 10px;
    }
}